/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require social-share-button
 *= require fullcalendar
 *= require daterangepicker
 *= require bootstrap
 *= require commontator/application
*/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
body {
	// height: 100%;
	background-image: url(../assets/bg4-1.jpg);
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	//background-color:#ADD8E6;
	// background-color: #ADD8E6;
}

#like {
	padding-left: 50px;
	font: 17px/1.5 Arial, Helvetica, sans-serif;
}

#rsvp {
	font: 17px/1.5 Arial, Helvetica, sans-serif;
	padding-left: 50px;
}

p {
	font: 17px/1.5 Arial, Helvetica, sans-serif;
}

#likeBtn {
	position: relative;
	float: right;
	margin-top: -25px;
}
 .likes-count {
	 text-align: center;
 }

h1 {
	color: black;
}

table-t {
	background-color: #000;
	.p {
		font-color: #43a047 ;
	}
}
