/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require social-share-button
 *= require fullcalendar
 *= require daterangepicker
 *= require bootstrap
*/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	// height: 100%;
	//background-image: url(../assets/bg4.jpg);
	//background-attachment: fixed;
	//background-size: cover;

	//background-color:#ADD8E6;
	// background-color: #ADD8E6;
}

.social-share-button {
		position: relative;
		float: right;
		padding-bottom: 20px;
    background-size: 150px;
    height: 25px;
    width: 40px;
}

// .signUp {
// 	background-color: #778899;
// }

h1 {
	color: black;
}

table-t {
	background-color: #000;
	.p {
		font-color: #43a047 ;
	}
}
